@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$logo: #FF6875;
$details-title: #22262A;

.container {
    display: flex;
}

.details {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        height: 50px;
        width: 50px;
        color: $logo;
        font-size: 50px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 24px;
        font-family: 'Proxima Nova Rg';
        font-weight: bold;
        color: $details-title;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        font-family: 'Proxima Nova Rg';
        color: $details-title;
        padding: 0 20px 0 20px;
    }
}