@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 830px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__image {
  height: 300px;
  width: 300px;
}

.product__image .pic {
  height: 250px;
  width: 300px;
}

.product__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__details--title {
  font-size: 27px;
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  color: #22262A;
  margin-top: 10px;
}

.product__details--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F6F7F8;
}

.product__details--rating .rating__star--yellow {
  color: #FFC600;
}

.product__details--rating .rating__star--gray {
  color: #C1C8CE;
}

.product__details--rating .rating__reviews {
  font-size: 14px;
  font-family: 'Proxima Nova Rg';
  color: #C1C8CE;
  margin: 0 10px 0 10px;
}

.product__details--rating .rating__button {
  font-size: 14px;
  font-family: 'Proxima Nova Rg';
}

.product__details--rating .rating__button a {
  color: #33A0FF;
  text-decoration: none;
}

.product__details--rating .rating__button:hover {
  background-color: #33A0FF;
  padding: 2px;
  border-radius: 5px;
}

.product__details--rating .rating__button:hover a {
  color: white;
}

.product__details--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-family: 'Proxima Nova Rg';
  margin-top: 10px;
}

.product__details--price-discounted {
  color: #FD2E2E;
}

.product__details--price-original {
  margin-left: 15px;
  color: #E5E5E5;
  text-decoration: line-through;
}

.product__details--summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: #262626;
  padding-bottom: 30px;
  border-bottom: 1px solid #F6F7F8;
}

.product__details--summary .availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__details--summary .availability__text {
  margin-right: 30px;
  font-weight: bold;
}

.product__details--summary .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 10px 0;
}

.product__details--summary .category__text {
  margin-right: 39px;
  font-weight: bold;
}

.product__details--summary .shipping {
  font-weight: bold;
}

.product__details--color {
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: #262626;
  font-weight: bold;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__details--color .circle__blue {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 0 2px #378ff3;
          box-shadow: 0 0 0 2px #378ff3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: blue;
  margin-left: 10px;
}

.product__details--color .circle__red {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  margin-left: 10px;
}

.product__details--color .circle__red:hover {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 0 2px #f16d6d;
          box-shadow: 0 0 0 2px #f16d6d;
}

.product__details--color .circle__black {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin-left: 10px;
}

.product__details--color .circle__black:hover {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}

.product__details--color .circle__yellow {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: yellow;
  margin-left: 10px;
}

.product__details--color .circle__yellow:hover {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 0 2px #f8f88f;
          box-shadow: 0 0 0 2px #f8f88f;
}

.product__details--size {
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: #262626;
  font-weight: bold;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #F6F7F8;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options .image-set__item {
  height: 60px;
  width: 60px;
  border: 2px solid #F6F7F8;
}

.options .image-set__item:hover {
  border: 2px solid #006CFF;
}

.options .image-set__item--active {
  border: 2px solid #006CFF;
}

.options .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.options .counter__button {
  height: 40px;
  width: 80px;
  background-color: #F6F7F8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options .counter__button--minus {
  color: #006CFF;
  font-size: 8px;
}

.options .counter__button--count {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  color: #262626;
}

.options .counter__button--plus {
  color: #006CFF;
  font-size: 8px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 250px;
}

.buttons__cart {
  background-color: #F6F7F8;
  border-radius: 5px;
  color: #006CFF;
  height: 40px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons__cart--icon {
  margin-right: 10px;
}

.buttons__cart:hover {
  background-color: #006CFF;
  color: #F6F7F8;
  cursor: pointer;
}

.buttons__favorite {
  background-color: #F6F7F8;
  height: 40px;
  width: 30px;
  border-radius: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #006CFF;
}

.buttons__favorite:hover {
  background-color: #006CFF;
  color: #F6F7F8;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 20px;
}

.social__facebook {
  height: 40px;
  width: 255px;
  border-radius: 5px;
  background-color: #385C8E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: white;
}

.social__facebook--icon {
  margin-right: 10px;
}

.social__facebook:hover {
  background-color: white;
  color: #385C8E;
}

.social__twitter {
  height: 40px;
  width: 255px;
  border-radius: 5px;
  background-color: #03A9F4;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: white;
}

.social__twitter--icon {
  margin-right: 10px;
}

.social__twitter:hover {
  background-color: white;
  color: #03A9F4;
}

.info {
  background-color: #FAFAFB;
}

.info__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  border-bottom: 2px solid #F6F7F8;
}

.info__nav--product {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size: 16px;
  color: #2E90E5;
  padding-right: 10px;
}

.info__nav--reviews {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size: 16px;
  color: #262626;
  padding-right: 10px;
}

.info__nav--tab {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size: 16px;
  color: #262626;
  padding-right: 10px;
}

.info__text {
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: #262626;
  margin-top: 20px;
}
/*# sourceMappingURL=cart.css.map */