@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$product-text: #22262A;
$product-text-review: #C1C8CE;
$product-text-review-button: #33A0FF;
$product-border: #F6F7F8;
$product-border-blue: #006CFF;
$product-button-bg: #F6F7F8;
$star-yellow: #FFC600;
$star-gray: #C1C8CE;
$price: #FD2E2E;
$price-discounted: #E5E5E5;
$product-details: #262626;
$product-info-blue: #2E90E5;
$product-info-black: #262626;
$product-info-gray: #FAFAFB;
$facebook: #385C8E;
$twitter: #03A9F4;

.container-product {
    background-color: red;
}

.container-product__wrapper {
    width: 830px;
}


.product {
    display: flex;

    &__image {
        height: 300px;
        width: 300px;

        .pic {
            height: 250px;
            width: 300px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;

        &--title {
            font-size: 27px;
            font-family: 'Proxima Nova Rg';
            font-weight: bold;
            color: $product-text;
            margin-top: 10px;
        }

        &--rating {
            display: flex;
            margin-top: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid $product-border;

            .rating{

                &__star{

                    &--yellow {
                        color: $star-yellow;
                    }

                    &--gray {
                        color: $star-gray;
                    }
                }

                &__reviews {
                    font-size: 14px;
                    font-family: 'Proxima Nova Rg';
                    color: $product-text-review;
                    margin: 0 10px 0 10px;
                }

                &__button {
                    font-size: 14px;
                    font-family: 'Proxima Nova Rg';
                
                a {
                    color: $product-text-review-button;
                    text-decoration: none;
                }
                

                &:hover {
                    background-color: $product-text-review-button;
                    padding: 2px;
                    border-radius: 5px;

                    a{
                        color: white;
                    }
                }
                }
            }
        }
        &--price {
            display: flex;
            font-size: 24px;
            font-family: 'Proxima Nova Rg';
            margin-top: 10px;
    
            &-discounted {
                color: $price;
            }
    
            &-original {
                margin-left: 15px;
                color: $price-discounted;
                text-decoration: line-through;
            }
        }

        &--summary {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            font-family: 'Proxima Nova Rg';
            font-size: 14px;
            color: $product-details;
            padding-bottom: 30px;
            border-bottom: 1px solid $product-border;

            .availability {
                display: flex;

                &__text {
                    margin-right: 30px;
                    font-weight: bold;
                }
            }

            .category {
                display: flex;
                margin: 10px 0 10px 0;

                &__text {
                    margin-right: 39px;
                    font-weight: bold;
                }
            }

            .shipping {
                font-weight: bold;
            }
        }

        &--color {
            font-family: 'Proxima Nova Rg';
            font-size: 14px;
            color: $product-details;
            font-weight: bold;
            margin-top: 20px;
            display: flex;

            .circle {
                &__blue {
                    border: 2px solid white;
                    box-shadow:0 0 0 2px rgb(55, 143, 243);
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background-color: blue;
                    margin-left: 10px;
                }
                
                &__red {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: red;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px rgb(241, 109, 109);
                    }
                }

                &__black {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: black;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px black;
                    }
                }

                &__yellow {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: yellow;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px rgb(248, 248, 143);
                    }
                }
            }
        }

        &--size {
            font-family: 'Proxima Nova Rg';
            font-size: 14px;
            color: $product-details;
            font-weight: bold;
            margin-top: 20px;
            display: flex;
            padding-bottom: 30px;
            border-bottom: 1px solid $product-border;
        }
    }
}

.options {
    display: flex;

    .image-set__item {
        height: 60px;
        width: 60px;
        border: 2px solid $product-border;
    
        &:hover {
            border: 2px solid $product-border-blue;
        }
        
        &--active {
            border: 2px solid $product-border-blue;
        }
    }
    
    .counter {
        display: flex;
        align-items: center;
        margin-left: 30px;

        &__button {
            height: 40px;
            width: 80px;
            background-color: $product-button-bg;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &--minus {
                color: $product-border-blue;
                font-size: 8px;
            }
            
            &--count {
                font-family: 'Proxima Nova Rg';
                font-size: 16px;
                color: $product-details;
            }
            
            &--plus {
                color: $product-border-blue;
                font-size: 8px;
            }
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: 250px;

    &__cart {
        background-color: $product-button-bg;
        border-radius: 5px;
        color: $product-border-blue;
        height: 40px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--icon {
            margin-right: 10px;
        }

        &:hover {
            background-color: $product-border-blue;
            color: $product-button-bg;
            cursor: pointer;
        }
    }

    &__favorite {
        background-color: $product-button-bg;
        height: 40px;
        width: 30px;
        border-radius: 5px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $product-border-blue;

        &:hover {
            background-color: $product-border-blue;
            color: $product-button-bg;
            cursor: pointer;
        }
    }
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;

    &__facebook {
        height: 40px;
        width: 255px;
        border-radius: 5px;
        background-color: $facebook;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Proxima Nova Rg';
        font-size: 14px;
        color: white;

        &--icon {
            margin-right: 10px;
        }

        &:hover {
            background-color: white;
            color: $facebook;
        }
    }

    &__twitter {
        height: 40px;
        width: 255px;
        border-radius: 5px;
        background-color: $twitter;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Proxima Nova Rg';
        font-size: 14px;
        color: white;
        
        &--icon {
            margin-right: 10px;
        }

        &:hover {
            background-color: white;
            color: $twitter;
        }
    }
}

.info {
    background-color: $product-info-gray;

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        border-bottom: 2px solid $product-border;

        &--product {
            font-family: 'Proxima Nova Rg';
            font-weight: bold;
            font-size: 16px;
            color: $product-info-blue;
            padding-right: 10px;
        }

        &--reviews {
            font-family: 'Proxima Nova Rg';
            font-weight: bold;
            font-size: 16px;
            color: $product-info-black;
            padding-right: 10px;
        }

        &--tab {
            font-family: 'Proxima Nova Rg';
            font-weight: bold;
            font-size: 16px;
            color: $product-info-black;
            padding-right: 10px;
        }
    }

    &__text {
        font-family: 'Proxima Nova Rg';
        font-size: 14px;
        color: $product-info-black;
        margin-top: 20px;
    }
}