@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  height: 350px;
  width: 270px;
  border: 1px solid #F6F7F8;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__image {
  height: 153px;
  width: 236px;
  background-image: url("50061505_575246.png");
  background-size: cover;
  margin: 30px 17px 0 17px;
}

.card__image:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  color: #262626;
  font-family: "Proxima Nova Rg";
  font-weight: 600;
  font-size: 14px;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  height: 10px;
}

.card__rating--yellow {
  color: #ECD345;
}

.card__rating--gray {
  color: #BDBDBD;
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
}

.card__price--discounted {
  color: #FD2E2E;
}

.card__price--original {
  margin-left: 15px;
  color: #E5E5E5;
  text-decoration: line-through;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__icon {
  height: 50px;
  width: 50px;
  color: #FF6875;
  font-size: 50px;
  margin-bottom: 20px;
}

.details__title {
  font-size: 24px;
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  color: #22262A;
  margin-bottom: 20px;
}

.details__text {
  font-size: 14px;
  font-family: 'Proxima Nova Rg';
  color: #22262A;
  padding: 0 20px 0 20px;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news {
  width: 320px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__image {
  width: 140px;
  height: 140px;
}

.news__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 20px 10px 20px;
}

.news__details--date {
  font-family: 'Proxima Nova Rg';
  color: #C1C8CE;
  font-size: 14px;
  margin-top: 10px;
}

.news__details--title {
  font-family: 'Proxima Nova Rg';
  color: #22262A;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.news__details--text {
  font-family: 'Proxima Nova Rg';
  color: #22262A;
  font-size: 14px;
  margin-top: 10px;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured {
  width: 400px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__image {
  width: 210px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 20px 10px 20px;
}

.featured__details--title {
  font-family: 'Proxima Nova Rg';
  color: #262626;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

.featured__details--rating {
  margin-top: 10px;
}

.featured__details--price {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__details--price-discounted {
  color: #FF4858;
  margin-left: 10px;
}

.featured__details--price-orignal {
  color: #C1C8CE;
  margin-left: 10px;
  text-decoration: line-through;
}

.card__rating--yellow {
  color: #FFC600;
}

.card__rating--gray {
  color: #C1C8CE;
}

body {
  font-family: "Proxima Nova Rg";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0px 350px 0 350px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.header .language_switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header #language, .header #currency {
  margin-right: 20px;
  border: 1px solid transparent;
}

.header .session_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 0 5px 0px;
  font-size: 14px;
}

.header .session_details .profile {
  margin-right: 20px;
  font-weight: bolder;
}

.header .session_details .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bolder;
}

.header .session_details .basket i {
  margin-right: 5px;
  font-size: 14px;
}

.header .session_details .basket .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  color: gray;
  font-size: 14px;
  font-weight: normal;
}

.header .session_details .session_search .session_search_box {
  width: 25px;
  border: 1px solid transparent;
}

.header .session_details .session_search button {
  border: 1px solid transparent;
  background-color: transparent;
}

.navigation_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation_banner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-weight: bold;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.navigation_banner .logo .first {
  color: #2E2E2E;
}

.navigation_banner .logo .last {
  color: #FD2E2E;
}

.navigation_banner .navigation_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 40px 0px;
}

.navigation_banner .navigation_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.navigation_banner .navigation_bar ul a {
  text-decoration: none;
  margin: 0px 40px 0 40px;
  font-weight: semibold;
  color: #22262A;
  font-weight: bolder;
}

.navigation_banner .navigation_bar ul a:hover {
  color: #33A0FF;
}

.product_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff4858;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff4858), color-stop(90%, #8f65ff));
  background: linear-gradient(90deg, #ff4858 10%, #8f65ff 90%);
  height: 650px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_banner h1, .product_banner p, .product_banner a {
  margin: 0 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product_banner .product_previous, .product_banner .product_next {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.product_banner .product_previous i, .product_banner .product_next i {
  font-size: 40px;
}

.product_banner .product_previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product_banner .product_banner_text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  justify-items: flex-start;
}

.product_banner .product_banner_text h1 {
  font-size: 32px;
}

.product_banner .product_banner_text p {
  margin-top: 40px;
  font-size: 14px;
  width: 450px;
}

.product_banner .product_banner_text a {
  font-size: 14px;
  font-weight: bold;
  margin-top: 40px;
  color: #FFFFFF;
}

.product_banner .product_banner_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.services {
  background-color: #FFFFFF;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 10;
}

.main_body {
  margin: 0px 350px 0 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.main_body h3 {
  font-size: 30px;
}

.main_body .navigation_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 40px 0px;
}

.main_body .navigation_bar a {
  text-decoration: none;
  margin: 0px 40px 0 40px;
  font-weight: semibold;
  color: #22262A;
  font-weight: bolder;
}

.main_body .navigation_bar a:hover {
  color: #33A0FF;
}

.main_body .load_product {
  margin-top: 100px;
  font-size: 14px;
  font-weight: bold;
}

.product_banner_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  background-color: #2E90E5;
  margin: 0;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 300px 0 350px;
  z-index: -5;
  position: relative;
}

.product_banner_sub .product_banner_text_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product_banner_sub .product_banner_text_sub h1 {
  font-size: 66px;
  font-weight: lighter;
}

.product_banner_sub .product_banner_text_sub p {
  margin-top: 10px;
  font-size: 24px;
  width: 450px;
  font-weight: normal;
}

.product_banner_sub .product_banner_text_sub a {
  margin-top: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.product_banner_sub .product_banner_image_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  z-index: -1;
}

.news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.news_container h3 {
  padding-bottom: 50px;
}

.featured_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 150px 0px;
}

.featured_products .container {
  margin-top: 50px;
}

.page_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.page_search .page_search_box {
  border: 2px solid #F6F7F8;
  width: 600px;
  height: 60px;
}

.page_search .search_button {
  background-color: #2E90E5;
  width: 120px;
  border: 1px solid transparent;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px 20px 0px;
}

.footer .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 250px 0 250px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer .footer_description h3 {
  color: gray;
  font-size: 32px;
}

.footer .footer_description .footer_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.footer .social_media, .footer .contact {
  padding: 50px 30px 0 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer .social_media .smLogo, .footer .contact .smLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .social_media .smLogo .webLogo, .footer .contact .smLogo .webLogo {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.footer .social_media .smLogo .webLogo i, .footer .contact .smLogo .webLogo i {
  color: #03A9F4;
}

.footer .social_media h2, .footer .contact h2 {
  font-size: 18px;
}

.footer .social_media p, .footer .contact p {
  font-size: 12px;
}

.footer .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0 40px 0;
}

.footer .lower ul {
  padding: 0px 35px 0px 35px;
}

.footer .lower .footer_list {
  list-style-type: none;
  margin: 0px;
}

.footer .lower .footer_list h4, .footer .lower .footer_list li {
  padding: 10px 0px 10px 0px;
}

.footer .lower .footer_list h4 {
  font-size: 18px;
}

.footer .lower .footer_list li {
  font-size: 14px;
}

.footer .payment {
  border-top: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 350px 0 350px;
  padding-top: 40px;
}

.footer .payment p {
  font-size: 14px;
  color: #C1C8CE;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer .payment .payment__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
}

.newsletter_container {
  top: 0;
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.newsletter_container .newsletter {
  background-color: #FFFFFF;
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  height: 480px;
}

.newsletter_container .newsletter .form_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 20px;
}

.newsletter_container .newsletter .form_side .email_box {
  padding-top: 100px;
}

.newsletter_container .newsletter .form_side .email_box .page_search_box {
  border: 2px solid #F6F7F8;
  width: 169px;
  height: 60px;
  margin: 0% auto;
  padding: 0%;
}

.newsletter_container .newsletter .form_side .email_box .search_button {
  background-color: #2E90E5;
  color: #FFFFFF;
  width: 160px;
  border: 1px solid transparent;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 60px;
  margin: 0% auto;
  padding: 0%;
}

.newsletter_container .newsletter .form_side h2 {
  font-size: 48px;
}

.newsletter_container .newsletter .form_side p {
  font-size: 16px;
}

.newsletter_container .newsletter .form_side .check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

ul {
  overflow-y: hidden;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 1;
  border-bottom-right-radius: 1%;
  border-bottom-left-radius: 1%;
  padding: 10px 10px 30px 10px;
  margin-left: 20px;
  max-height: 230px;
  height: 230px;
  width: 1000px;
}

.dropdown_content .content_container h2 {
  padding-left: 45px;
  color: #C1C8CE;
  font-size: 18px;
}

.dropdown_content .content_container a {
  font-size: 14px;
}

.dropdown_content .dropdown_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dropdown_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown_content {
  display: block;
}
/*# sourceMappingURL=style.css.map */